* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

#thumbnail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  height: auto;
  position: absolute;
  top: 3rem;
  left: 34%;
  z-index: 100;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

#thumbnailContainerButton {
  position: absolute;
  flex-wrap: wrap;
  position: absolute;
  top: 1.5rem;
  left: 50%;
  justify-content: center;
  align-items: center;
  z-index: 101;
  background-color: black;
  color: white;
  opacity: 0.5;
  border-radius: 12px;
  width: 30px;
}

.thumbnail {
  width: 100px;
  height: auto;
}

.full-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  object-position: 60% 0%;
}
