* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

#thumbnail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 3rem;
  justify-content: center;
  z-index: 100;
  align-items: center;
  padding: 2px;
  overflow: auto;
}

#thumbnailContainerButton {
  position: absolute;
  flex-wrap: wrap;
  position: absolute;
  bottom: 1.5rem;
  left: 48%;
  justify-content: center;
  align-items: center;
  z-index: 101;
  background-color: black;
  color: white;
  opacity: 0.5;
  border-radius: 12px;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

#thumbnailContainerButton:hover {
  opacity: 0.65;
}

.thumbnail {
  width: 70px;
  height: 48px;
  border: solid 2px black;
  cursor: pointer;
}

.crow {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  object-position: 40%;
}

.flamingo {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  object-position: 66%;
}

.mushrooms {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  object-position: 20%;
}

.sparrow {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}

.kangaroo {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  object-position: 30% 40%;
}

@media (min-width: 600px) {
  #thumbnail-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    height: 90px;
    position: absolute;
    bottom: 2rem;
    left: 34%;
    z-index: 100;
    overflow: auto;
  }

  #thumbnailContainerButton {
    position: absolute;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    justify-content: center;
    align-items: center;
    z-index: 101;
    background-color: black;
    color: white;
    opacity: 0.5;
    border-radius: 12px;
    width: 30px;
    height: 20px;
  }

  .thumbnail {
    width: 100px;
    height: 67px;
    cursor: pointer;
    border: 0px;
    padding: 1px;
  }
}
